* {
    /*border: 1px solid red;*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

header {
    padding-top: 32px;
    height: calc(120px + 64px);
}


header div {
    width: 140px;
    margin: auto;
    background-image: linear-gradient(95deg, #3cdde8 0%, #2ee827 50%, #ffb61f 100%);
    border-radius: 50%;
    display: flex;
    padding: 4px;
    transition: transform .3s;
}

header div:hover {
    transform: scale(1.15)
}

header div img {
    width: 100%;
    border-radius: 50%;
}

body {
    background-image: url('../img/background.jpg');
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #060807;
}

body * {
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}

main {
    max-width: 586px;
    width: 90%;
    margin: 32px auto;

    display: grid;
    gap: 24px;
}

section {
    color: white;
    background-image: linear-gradient(90deg, #3ce8ae 0%, #29f121 50%, #ffb61f 100%);
    padding-top: 4px;
    border-radius: 10px;
}

section div {
    background-color: #292834;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

section h2 {
    letter-spacing: -0.47px;
}

section p {
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    margin-top: 24px;
}

section ul li {
    transition: transform .3s;
}

section ul li:hover {
    transform: scale(1.25)
}

.games-list img {
    width: 90px;
    border-radius: 8px;
}

.channel-list img {
    border-radius: 50%;
    width: 70px;
    border: 1px solid #443E54;
}

.movie-list img {
    width: 90px;
    height: 115px;
    border-radius: 8px;
}

.series-list img {
    width: 90px;
    height: 125px;
    border-radius: 8px;
}

.web-list img {
    border-radius: 5px;
    width: 36px;
    height: 36px;
    border: 1px solid #443E54;
}

.web-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.web-list li {
    padding: 0px 12px;
}

/* animation */

header div {
    animation: fromTop .7s .2s backwards;
}

main section {
    animation: fromBottom .7s backwards;
}

main section:nth-child(1) {
    animation-delay: .1s;
}

main section:nth-child(2) {
    animation-delay: .3s;
}

main section:nth-child(3) {
    animation-delay: .6s;
}

main section:nth-child(4) {
    animation-delay: .9s;
}

main section:nth-child(5) {
    animation-delay: 1.2s;
}

@keyframes fromTop {
from {
    opacity: 0;
    transform: translateY(-30px)
    }

to {
    opacity: 1;
    transform: translateY(0)
    }

}

@keyframes fromBottom {
from {
    opacity: 0;
    transform: translateY(30px)
    }

to {
    opacity: 1;
    transform: translateY(0)
    }

}

/* Hans Lichtner */
